@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Montserrat:wght@300;400&display=swap');

:root {
  --element-fill-light: rgba(250, 246, 239, 1);
  --element-fill-dark: rgb(48, 86, 98, 1);
  --smooth-alfa: rgba(0, 0, 0, 0.2);
  --medium-alfa: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  background-color: rgb(106, 107, 101);
  background-image: linear-gradient(
    0deg,
    rgba(244, 236, 224, 0.6) 30%,
    rgba(212, 201, 194, 1) 60%,
    var(--element-fill-light) 100%
  );
}

img {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.5;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px 30px;
}

header button {
  padding: 15px 40px;
  margin: 30px auto 0;
  border-radius: 4px;
  background-color: var(--element-fill-dark);
  color: var(--element-fill-light);
}

/* Column */
#column-container {
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  padding: 20px;
}

.task-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 330px;
  min-height: 500px;
  background-color: var(--element-fill-light);
  border-radius: 4px;
  box-shadow: 0 0 4px 2px var(--smooth-alfa);
  margin: 0 10px;
  padding: 20px;
}

.task-container h1 {
  padding-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

/* Template */
.task-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 220, 213, 0.4);
  padding: 4px 6px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12px;
  min-height: 100px;
  box-shadow: 0px 2px 6px 2px var(--smooth-alfa);
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

#task-description {
  display: flex;
  flex: 1;
}

.task-description > p {
  white-space: wrap;
  word-wrap: break-word;
  font-size: 16px;
  color: var(--medium-alfa);
  padding: 6px 0;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.task-box button {
  border: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 20%;
  opacity: 0.5;
  padding: 4px 12px;
}

.task-box button:hover {
  opacity: 1;
  background-color: rgba(150, 150, 150, 0.1);
  cursor: pointer;
}

.droppable {
  background-color: var(--smooth-alfa);
}

.name-btn:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

/* Backdrop and Modal */
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--medium-alfa);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#modal-container {
  position: fixed;
  min-width: 300px;
  max-width: 350px;
  min-height: 200px;
  z-index: 100;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}

#modal-container.visible {
  display: block;
  animation: fade-slide-in 0.15s ease-out forwards;
}

#task-modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 220, 213, 1);
  padding: 8px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  min-height: 100px;
  box-shadow: 0px 2px 6px 2px var(--smooth-alfa);
  border-radius: 5px;
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

input,
label {
  margin-bottom: 5px;
}

input {
  padding: 6px 8px;
}

textarea {
  resize: none;
  padding: 6px 8px;
}

textarea,
input {
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px var(--smooth-alfa);
}

#button-field {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
}

#button-field button {
  border-style: none;
  border-radius: 4px;
  background-color: var(--element-fill-light);
  color: var(--element-fill-dark);
  padding: 8px 16px;
  min-width: 100px;
  box-shadow: 0 0 4px 1px var(--smooth-alfa);
}

#button-field > button + button {
  background-color: var(--element-fill-dark);
  color: var(--element-fill-light);
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}
