@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Montserrat:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  background-color: #6a6b65;
  /* background-image: linear-gradient(180deg, rgba(244, 236, 224, 0.6) 30%, rgb(212, 201, 194) 60%, #F0E0D6 100%); */
  background-image: linear-gradient(0deg, rgba(244, 236, 224, 0.6) 30%, rgba(212, 201, 194, 1) 60%, rgba(240, 224, 214, 1) 100%);
}

#background-img {
  position: absolute;
  z-index: -1;
}

header {
  text-align: center;
}

#task-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

#tasks-render {
  height: 50px;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  border-style: dotted;
  font-size: 20px;
  text-align: center;
}

#submit-btn {
  width: 200px;
  margin: 0px auto 0;
  height: 50px;
  border-radius: 4px;
}

.column-container {
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: slateblue; */
  border-radius: 4px;
  padding: 20px;
}

.task-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 330px;
  min-height: 500px;
  background-color: rgba(250, 246, 239, 1);
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  padding: 20px;
}

.task-container h1 {
  /* background-color: slateblue; */
  padding-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.task-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 220, 213, 0.4);
  padding: 4px 6px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  min-height: 100px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.task-description {
  display: flex;
  flex: 1;
}

.task-description > p {
  white-space: wrap;
  word-wrap: break-word;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding: 6px 0;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.task-box button {
  border: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 20%;
  opacity: 0.5;
  padding: 4px 12px;
}

.task-box button:hover {
  opacity: 1;
  background-color: rgba(150, 150, 150, 0.1);
  cursor: pointer;
}

.droppable {
  background-color: rgb(102, 235, 102);
}
